<html>
  <head>
  <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <%- include('header') %>

    <div id="current-date">Current Date:</div>
    <br>
    <!--- TODO: Add client side input validation-->
    <!--- form reloads page. work around with fetch()-->
    <div>
      <input type="search" id="req-sku">
      <button id='search-sku'>Add SKU</button>
    </div>

    <!--- Brings up info when user searches SKU.-->
    <table id="whitelist-products"> 
      <thead>
        <tr>
          <th>SKU</th>
          <th></th>
          <th>Name</th>
          <th>Price</th>
          <th class="model">Model No.</th>
        </tr>
      </thead>
      <tbody>
        <tr id="confirm-sku-tr">
          <td class="bold"></td>
          <td></td>
          <td id="name"></td>
          <td class="bold right"></td>
          <td class="model"></td>
        </tr>
      </tbody>
    </table>
    <div id="confirm-area" hidden>
      <label for="add-quantity"> Enter Quantity:</label>
      <input type="text" id="add-quantity">
      <button id="confirm-add">Yes</button>
      <button id="cancel-add">Cancel</button>
    </div>

    <br><br>
    <!--- Added SKUs -->
    <table id="whitelist-products"> 
      <thead>
        <tr>
          <th>SKU</th>
          <th></th>
          <th>Name</th>
          <th>Price</th>
          <th class="model">Model No.</th>
        </tr>
      </thead>
      <tbody>
        <% for(var key in whitelisted) { %>
        <tr id="<%= key %>">
          <td class="bold"><%= whitelisted[key]["sku"] %></td>
          <td><img src="<%= whitelisted[key]["image"] %>"</td>
          <td id="name"><a href=<%= whitelisted[key]["url"] %> target="_blank"> <%= whitelisted[key]["name"]; %></a></td>
          <td class="bold right"><%= whitelisted[key]["price"] %></td>
          <td class="model"><%= whitelisted[key]["modelnum"] %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <script src="addskus.js"></script>
  </body>

</html>
