doctype html
html
  head
    title issa bot
  body
    table
      thead
        tr
          th Name
          th Price
          th Quantity
          th SKU
          th Model Number
          th UPC
      
      each product in products
        - var url = "#{product.url}";
        tbody
          tr
            td a(href=url) #{product.name}
            td #{product.price}
            td #{product.count}
            td #{product.sku}
            td #{product.modelnum}
            td #{product.upc}

