<html>
  <head>

  </head>

  <body>
    <h1>Hello World</h1>
    <table> 
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>SKU</th>
          <th>Model No.</th>
        </tr>
      </thead>
      <tbody>
        <% for(var key in products) { %>
        <tr>
          <td><a href=<%= products[key]["url"] %>> <%= products[key]["name"]; %></a></td>
          <td><%= products[key]["price"]; %></td>
          <td><%= products[key]["count"]; %></td>
          <td><%= products[key]["sku"]; %></td>
          <td><%= products[key]["modelnum"]; %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
      
  </body>
</html>
