<html>
  <head>
  <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <%- include('header') %>

    <button>Refresh SKUs</button>
    <div id="current-date">Last updated: </div>
    <div id="log">Logging and thing</div>

    <br>
    <table> 
      <thead>
        <tr>
          <th>SKU</th>
          <th></th>
          <th>Name</th>
          <th>Price</th>
          <th class="model">Model No.</th>
        </tr>
      </thead>
      <tbody>
        <% for(var key in products) { %>
        <tr id="<%= key %>">
          <td class="bold"><%= products[key]["sku"] %></td>
          <td><img src="<%= products[key]["image"] %>"</td>
          <td id="name"><a href=<%= products[key]["url"] %> target="_blank"> <%= products[key]["name"]; %></a></td>
          <td class="bold right"><%= products[key]["price"] %></td>
          <td class="model"><%= products[key]["modelnum"] %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
     <script src="addskus.js"></script> 
  </body>
</html>
